*
!.gitignore
!.nowignore
!.nvmrc
!.prettierrc
!Readme.md
!api
!api/**
!errors
!errors/**
!jwtSigningKeys.json.encrypted
!models
!models/**
!now.json
!package*.json
!tsconfig.json
!tslint.json
!utils
!utils/**
